@model ML.Empleado
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="container">
    <h2>Form</h2>
    <div class="row gx-5 justify-content-center">

        <div class="col-md-12">

            @using (Html.BeginForm("Form", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data", @id="Hola" }))
            {
                <div class="form-horizontal container">

                    <div class="form-group row ">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NumeroEmpleado, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.NumeroEmpleado, new { @class = "hidden form-control" })
                            @Html.ValidationMessageFor(model => model.NumeroEmpleado)

                        </div>
                    <div class="col-md-3">
                            @Html.LabelFor(model => model.RFC, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.RFC, new { @class = "hidden form-control", @onkeyup = "this.value = Mayusculas(this.value)" })
                            @Html.ValidationMessageFor(model => model.RFC)

                        </div>

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Nombre)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "return SoloLetras(event,'error')" })
                                

                                @Html.ValidationMessageFor(model => model.Nombre)
                            </div>
                            <label class="form-check-label" id="error"></label>
                        </div>
                                              

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.ApellidoPaterno)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", @onkeypress = "return SoloLetras(event,'error2')" })
                                @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                            </div>
                            <label class="form-check-label" id="error2"></label>

                        </div>
                    

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.ApellidoMaterno)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", @onkeypress = "return SoloLetras(event,'error3')" })
                                @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                            </div>
                            <label class="form-check-label" id="error3" hidden></label>
                        </div>
                    

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FechaDeNacimiento)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>


                                @Html.TextBoxFor(model => model.FechaDeNacimiento, new { @class = "form-control", @id = "txtFechaDeNacimiento" })
                                @Html.ValidationMessageFor(model => model.FechaDeNacimiento)
                            </div>
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FechaIngreso)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>


                                @Html.TextBoxFor(model => model.FechaIngreso, new { @class = "form-control", @id = "txtFechaDeIngreso" })
                                @Html.ValidationMessageFor(model => model.FechaIngreso)
                            </div>
                        </div>

                    

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NSS)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.NSS, new { @class = "form-control", @id = "", @onkeyup = "this.value = Mayusculas(this.value)" })
                                @Html.ValidationMessageFor(model => model.NSS)
                            </div>
                            <label class="form-check-label" id="error4"></label>

                        </div>
                    

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Telefono)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @id = "txtNumeroDeTelefono" })
                                @Html.ValidationMessageFor(model => model.Telefono)
                            </div>
                            <label class="form-check-label" id="error5"></label>

                        </div>
                    

                    
                        

                    
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Email)
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail1", @oninput = "ValidarCorreo(this, 'error7')" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <label class="form-check-label" id="error7"></label>

                        </div>
                    
                        <div class="col-md-3">
                            <label class="form-check-label"> CONFIRMAR CORREO</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail2", @oninput = "ValidarCorreo(this, 'error8')" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <label class="form-check-label" id="error8"></label>

                        </div>
                   
                        
                    
                        

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Empresa)
                            <div class="input-group mb-3">
                                                
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.DropDownListFor(model => model.Empresa.IdEmpresa, new SelectList(Model.Empresa.Empresas, "IdEmpresa", "NombreEmpresa"), "Selecciona una opción", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Empresa.IdEmpresa)
                            </div>
                        </div>


                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Foto)
                             <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-card-image"></i></span>
                                <input accept="image/jpeg" type="file" name="ImagenData" class="form-control" onchange="readURL(this);" />
                            </div>
                            @if (Model.Foto != null)
                            {
                                <img id="ImagenPreview" src="data:image/jpeg;base64,@Model.Foto" style="height: 150px; width: 150px;" />
                            }
                            else
                            {
                                <img id="ImagenPreview" src="~/UsuarioSinFoto.png" style="height: 150px; width: 150px;"/>
                            }
                            @Html.ValidationMessageFor(model => model.Foto)
                        </div>
                        @Html.HiddenFor(model => model.Foto)

                    </div>

                    
                    <br>
                    <br>


                    <div class="form-group container row">
                        <div class="row">
                    
                            <div class="col-sm-4">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Empleado", htmlAttributes: new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                   

                </div>
            }

        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script type="text/javascript">

    $(document).ready(function ()
    {
        $("#ddlPais").change(function ()
        {
            $("#ddlEstado").empty();
            $("#ddlMunicipio").empty();
            $("#ddlColonia").empty();
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GetEstado")',
                    dataType: 'json',
                    data:
                    {
                        IdPais: $("#ddlPais").val()
                    },
                    success: function (estados)
                    {
                        $("#ddlEstado").append('<option value="0">' + 'Seleccione Una Opcion' + '</option>');
                            $("#ddlMunicipio").append('<option value="0">' + 'Escoja Un Estado' + '</option>');
                            $("#ddlColonia").append('<option value="0">' + 'Escoja una Municipio' + '</option>');

                        $.each(estados, function (i, estados)
                        {
                            $("#ddlEstado").append('<option value="'
                            + estados.idEstado + '">'
                            + estados.nombre + '</option>');
                        }
                        );
                    },
                    error: function (ex)
                    {
                      alert('Failed.' + ex);
                    }
                });
        })



    })
    $(document).ready(function ()
    {
        $("#ddlEstado").change(function ()
        {
            $("#ddlMunicipio").empty();
            $("#ddlColonia").empty();
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GetMunicipio")',
                    dataType: 'json',
                    data:
                    {
                        IdEstado: $("#ddlEstado").val()
                    },
                    success: function (municipios)
                    {
                        $("#ddlMunicipio").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $("#ddlColonia").append('<option value="0">' + 'Escoja Un Municipio' + '</option>');

                        $.each(municipios, function (i, municipios)
                        {
                            $("#ddlMunicipio").append('<option value="'
                                + municipios.idMunicipio + '">'
                                + municipios.nombreMunicipio + '</option>');
                        }
                        );
                    },
                    error: function (ex)
                    {
                      alert('Failed.' + ex);
                    }
                });
        })



    })

    $(document).ready(function ()
    {
        $("#ddlMunicipio").change(function ()
        {
            $("#ddlColonia").empty();
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GetColonia")',
                    dataType: 'json',
                    data:
                    {
                        IdMunicipio: $("#ddlMunicipio").val()
                    },
                    success: function (colonias)
                    {
                        $("#ddlColonia").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $.each(colonias, function (i, colonias)
                        {
                            $("#ddlColonia").append('<option value="'
                                + colonias.idColonia + '">'
                                + colonias.nombreColonia + '</option>');
                        }
                        );
                    },
                    error: function (ex)
                    {
                      alert('Failed.' + ex);
                    }
                });
        })

    })

    function readURL(input)
    {
        if (input.files && input.files[0])
        {
            var reader = new FileReader();
            reader.onload = function (e)
            {
                $('#ImagenPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

        $(function () 
        {
            $("#txtFechaDeNacimiento").datepicker
            ({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                yearRange: '1940:2004',
                changeYear: true
            });
            $("#txtFechaDeIngreso").datepicker
                ({
                    dateFormat: 'dd-mm-yy',
                    changeMonth: true,
                    yearRange: '1940:2022',
                    changeYear: true
                });
        });

        function SoloNumeros(e, controlId) 
        {
            var caracter = e.key;
            if (!/^[0-9]/g.test(caracter)) 
            {
                $('#' + controlId).html("Solo se aceptan numeros");
                $('#' + controlId).css({ "color": "red" });
                return false;
            }
            else 
            {
                $('#' + controlId).text("");
                return true;
            }
        }

        function SoloLetras(e, controlId) 
        {
            var caracter = e.key;
            if (!/^[a-zA-Z ]/g.test(caracter)) {
                $('#' + controlId).html("Solo se aceptan letras");
                $('#' + controlId).css({ "color": "red" });
                return false;
            }
            else {
                $('#' + controlId).text("");
                return true;
            }
        }

        function curpValida(curp) 
        {
            var re = /^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/,
                validado = curp.match(re);

            if (!validado)  
            {
                return false;
            }
            
            function digitoVerificador(curp17) {
               
                var diccionario = "0123456789ABCDEFGHIJKLMNÑOPQRSTUVWXYZ",
                    lngSuma = 0.0,
                    lngDigito = 0.0;
                for (var i = 0; i < 17; i++)
                    lngSuma = lngSuma + diccionario.indexOf(curp17.charAt(i)) * (18 - i);
                lngDigito = 10 - lngSuma % 10;
                if (lngDigito == 10){ return 0};
                return lngDigito;
            }

            if (validado[2] != digitoVerificador(validado[1]))
                return false;

            return true; 
        }
        function validarCURP(input, controlId) {
            var curp = input.value.toUpperCase(),
                resultado = document.getElementById(controlId),
                valido = "No válido";

            if (curpValida(curp)) { 
                valido = "Válido";
                $('#' + controlId).html("");
            } else {
                $('#' + controlId).html("CURP INVALIDA");
                $('#' + controlId).css({ "color": "red" });
            }
            return input.value.toUpperCase();
            
        }

        function Mayusculas(curp)
        {
            return curp.toUpperCase();
        }

        function ValidarCorreo(e, controlId) 
        {
            var re = /^(([^<>()[\]\.,;:\s@@\"]+(\.[^<>()[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i;
            var correo1 = document.getElementById("txtEmail1").value;
            var correo2 = document.getElementById("txtEmail2").value;
            var caracter = e.value;
            if (!re.test(caracter))
            {
                $('#' + controlId).html("Correo No Valido");
                $('#' + controlId).css({ "color": "red" });
                if(correo1.lenght == 0 || correo2.lenght == 0)
                {
                    $('#' + controlId).html("Correo No Existente");
                    $('#' + controlId).css({ "color": "red" });
                }
                return false;
            }
            else 
            {
                $('#' + controlId).html("");
                if(correo1 != correo2)
                {
                    $('#' + controlId).html("Correo No Coincide");
                    $('#' + controlId).css({ "color": "red" });
                }
                else 
                {
                    $('#' + controlId).html("");
                    
                }
                return true;
            }

        }

        function ValidarContra(e, controlId) 
        {
            var re = /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/;
            var contra1 = document.getElementById("txtPassword1").value;
            var contra2 = document.getElementById("txtPassword2").value;
            var caracter = e.value;
            if (!re.test(caracter)) {
                $('#' + controlId).html("Contraseña No Valida");
                $('#' + controlId).css({ "color": "red" });
                if (contra1.lenght == 0 || contra2.lenght == 0) {
                    $('#' + controlId).html("Contraseña No Existente");
                    $('#' + controlId).css({ "color": "red" });
                }
                return false;
            }
            else {

                if (caracter.length < 8 && caracter.match(/[A-z]/) && caracter.match(/[A-Z]/) && caracter.match(/\d/)) 
                {
                    $('#' + controlId).html("");
                } 
                if (contra1 != contra2) 
                {
                    $('#' + controlId).html("Contraseña No Coincide");
                    $('#' + controlId).css({ "color": "red" });
                }
                else {
                    $('#' + controlId).html("");

                }
                return true;
            }

        }

</script>
}
