@model ML.Empresa
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>GetAll</h2>
    <p></p>

    <div class="row">
        <div style="float:right">
            @Html.ActionLink("+", "Form", "Empresa", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    @using (Html.BeginForm("GetAll", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.NombreEmpresa, new { @class = "form-control", @id = "txtNombre" })
            </div>
            
            <div class="col-md-4">
                <a><input type="submit" value="Buscar" class="btn btn-primary col-md-6" id="GetByLike" /></a>

            </div>
        </div>
    }
    <hr />
    <hr />
    <div class="row d-flex justify-content-center">
        <table class="table table-dark table-hover table-striped table-bordered table-responsive">
            <thead class="thead thead-inverse">
                <tr class="table table-secondary">

                    <th> EDITAR </th>
                    <th class="hidden">ID</th>
                    <th align="center">NOMBRE</th>
                    <th align="center">TELEFONO</th>
                    <th align="center">EMAIL</th>
                    <th align="center">DIRECCION WEB</th>
                    <th align="center">LOGO</th>

                    <th> ELIMINAR </th>
                </tr>
            </thead>

            <tbody>
                @foreach (ML.Empresa empresa in Model.Empresas)
                {

                    <tr>
                        <td class="text-center"><a class="btn btn-warning bi bi-pencil-square" href="@Url.Action("Form", "Empresa", new { IdEmpresa = empresa.IdEmpresa})"></a></td>

                        <td class="hidden">@empresa.IdEmpresa</td>
                        <td align="center">@empresa.NombreEmpresa</td>
                        <td align="center">@empresa.Telefono</td>
                        <td align="center">@empresa.Email</td>
                        <td align="center">@empresa.DireccionWeb</td>
                        @if (empresa.Logo != null)
                        {
                            <td align="center"><img src="data:image/jpeg;base64,@empresa.Logo" style="height: 150px; width: 150px" /></td>
                        }
                        else
                        {
                            <td align="center"><img src="~/UsuarioSinFoto.png" style="height: 150px; width: 150px;" /></td>
                        }

                        <td class="text-center"><a class="btn btn-danger bi bi-trash" href="@Url.Action("Delete", "Empresa", new { IdEmpresa = empresa.IdEmpresa})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');" type="submit"></a></td>



                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>